*{
    margin: 0;
    padding: 0;

    
}

    
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    background-size: 0;
    
}



.logo{
    width: 130px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    

}

nav{
display: flex;
align-items: center;
justify-content: center;
margin-right: 300px;
list-style: none;
font-size: 20px;

}

a{
    text-decoration: none;
    list-style: none;
    font-family:Georgia, 'Times New Roman', Times, serif
    
    
    
}

nav a {
    font-weight: 800;
    padding-right: 100px;
    margin-right: 100px;
    margin-left: 30px;
    color: rgba(243, 234, 234, 0.979);
}

nav a:hover{
    color: rgb(248, 73, 3);
    position: relative;
    animation: miAnimation 1.5s infinite linear;
    cursor: pointer;
}

/*portada*/

.contenedor-cover{
    
    height: 500px;
    background-image: url(portadaatr.jpg);
    background-size: cover;
    background-position: center;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;


    
}



.texto-portada{
    font-size:25px;
    margin-bottom: 1cm;
    color: rgb(238, 122, 39);

   



}




    



.botones2{
    color: rgb(44, 151, 98);
    font-size: 50px;
    
    
   
    
}

.contenidoport{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}


    
    
    








    



    
    






   
















   
    

    





