*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(207, 221, 221);
    background-size: 0;
    
}

.logo{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    

}

nav{
display: flex;
align-items: center;
justify-content: center;
margin-right: 300px;
list-style: none;
font-size: 20px;

}

a{
    text-decoration: none;
    list-style: none;
    font-family:Georgia, 'Times New Roman', Times, serif
    
    
    
}

nav a {
    font-weight: 800;
    padding-right: 100px;
    margin-right: 100px;
    color: rgba(61, 52, 52, 0.979);
}

nav a:hover{
    color: rgb(231, 66, 0);
    position: relative;
    animation: miAnimation 1.5s infinite linear;
    cursor: pointer;
}

body{
    background-image:url(fondo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;

   
    
}

