*{
    margin: 0;
    padding: 0;

    
}

    
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    background-size: 0;
    
}



.logo{
    width: 130px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    

}

nav{
display: flex;
align-items: center;
justify-content: center;
margin-right: 300px;
list-style: none;
font-size: 20px;

}

a{
    text-decoration: none;
    list-style: none;
    font-family:Georgia, 'Times New Roman', Times, serif
    
    
    
}

nav a {
    font-weight: 800;
    padding-right: 100px;
    margin-right: 100px;
    margin-left: 30px;
    color: rgba(243, 234, 234, 0.979);
}

nav a:hover{
    color: rgb(248, 73, 3);
    position: relative;
    animation: miAnimation 1.5s infinite linear;
    cursor: pointer;
}

/*portada*/

.contenedor-cover{
    
    height: 500px;
    background-image: url(portadaatr.jpg);
    background-size: cover;
    background-position: center;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;


    
}



.texto-portada{
    font-size:25px;
    margin-bottom: 1cm;
    color: rgb(238, 70, 18);

   



}




    




    
    
   
    


.contenidoport{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}


.boton{
    border-radius:10px; 
    letter-spacing: 6px;
    font-size: 20px;
    text-transform: uppercase;
    margin: 30px 0px 10px 0px;
    padding: 5px 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    
    transition: 0.5s;
    overflow: hidden;

}
.boton:hover{
    background-color: rgb(250, 77, 14);
    color: rgb(255, 255, 255);
    position: relative;
    animation: miAnimation 1.5s infinite linear;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(250, 77, 14), 0 0 40px rgb(250, 77, 14), 0 0 80px rgb(250, 77, 14);

}
    
    
    








    



    
    






   
















   
    

    





